
    page-home {
        background-image: url("https://images.unsplash.com/photo-1533536201350-93ebe24101f5?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
        .flex-container {
            display: flex;
            flex-direction: row;
            background-color: rgba(37, 14, 14, 0.932);
    
          }

          .top{
            display: flex;
            .first{
              flex-basis: 330px;
            }

          }

          p{
              font-size: 17px;
              color: rgb(5, 5, 83);
          }
    
          
          .flex-container > div {
       
            width: 100px;
          
            text-align: left;
            line-height: 10px;
            font-size: 10px;
          
          }
          .icon-scroll {
            margin-top: 1em;
                max-height: 150px;
                
               overflow-x: scroll;
                  overflow-y: hidden;
                  white-space: nowrap;
            } 
            span img {
                width: 110px;
                margin: 1%;
                border-radius: 10px;
            }
    
         
          .group1 {
            display: flex;
            border-radius: 30%;
            align-items: center;
            
    
          }
       
          .group2 {
            display: flex;
           
            align-items: center;
          
          

            
          }
        
          .fab{
              align-items: center;
              float: right;
          }
         
         
    
    
    
    
          
    }
    
    

