page-artist {
    
.div2 {
    width: 376px;
    height: 300px;  
    padding: 10px;
    border: 1px solid grey;
    font-size: 20px;
    color:black; 
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);

  }
  .div3 {
    width: 376px;
    height: 300px;  
    padding: 10px;
    border: 1px solid grey;
    font-size: 20px;
    color:black; 
    clip-path: polygon(0 0, 100% 0, 74% 100%, 0% 100%);

  }


  
}
